.ui-dialog.hotel-details-dialog {
	padding: 0 0 1em 0;
	border-color: #666;
}
.hotel-details-dialog > .ui-dialog-titlebar {
	height: 0;
}
.hotel-details-dialog > .ui-dialog-titlebar .ui-dialog-title {
	display: none;
}
.hotel-details-dialog > .ui-dialog-titlebar .ui-dialog-titlebar-close {
	z-index: 100;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
}
.hotel-details-dialog > .ui-widget-header {
	background: none;
	border: none;
}
#hotel-details-tabs,
#hotel-details-tabs .ui-tabs-panel {
	padding: 0;
}
#hotel-details-tabs,
#hotel-details-tabs .ui-widget-content,
#hotel-details-tabs > ul {
	border: none;
}
#hotel-details-tabs.ui-tabs .ui-tabs-nav {
	padding: 0;
}
	#hotel-details-tabs.ui-tabs .ui-tabs-nav li {
		margin: 0;
	}
	#tabs-photos .photos {
		margin-top: 1em;
		text-align: center;
	}
	#hotel-details-tabs .ui-state-default, 
	#hotel-details-tabs .ui-widget-content .ui-state-default, 
	#hotel-details-tabs .ui-widget-header .ui-state-default {
		background: #099;
		border: none;
		border-right: 1px solid #666;
	}
	#hotel-details-tabs .ui-state-active, 
	#hotel-details-tabs .ui-widget-content .ui-state-active, 
	#hotel-details-tabs .ui-widget-header .ui-state-active {
		background: #007171;
	}
	#hotel-details-tabs .ui-state-default a, 
	#hotel-details-tabs .ui-state-default a:link, 
	#hotel-details-tabs .ui-state-default a:visited {
		color: #fff;
	}
#hotel-details-tabs > ul {
	background: #099;
	position: relative;
	left: -14px;
	border-radius: 0;
	width: 120%;
}
#tabs-overview .description,
#tabs-overview h4 {
	margin-top: 1em;
}
	#tabs-overview .description .toggle {
		display: block;
		margin-top: .5em;
		text-align: right;
		color: #099;
		cursor: pointer;
	}
	#tabs-overview .description .text {
		max-height: 190px;
		overflow: hidden;
	}
	/* TODO: Apply height animation using CSS instead of jQuery */
	#tabs-overview .description.closed .text {
		overflow: hidden;
	}
	#tabs-overview .description .toggle .more,
	#tabs-overview .description.closed .toggle .less {
		display: none;
	}
	#tabs-overview .description.closed .toggle .more {
		display: inline;
	}
#tabs-overview .description .text:after {
	contents: '...';
}
#tabs-overview .map-container {
	margin-top: 1em;
	height: 200px;
}
#tabs-map .map-container {
	margin-top: 1em;
	height: 400px;
}
.hotel-details {
	position: relative;
	/* TODO: find a way not to have to use !important here */
	overflow-x: hidden !important;
	padding-top: 0 !important; 
}
	.hotel-details .overview-block,
	.hotel-details .rate-block {
		margin-bottom: 1em;
	}
	.hotel-details .rate-block .group {
		display: inline-block;
		position: relative;
		text-align: left;
		padding: 0 1em 2em 0;
		max-width: 200px;
	}
	.hotel-details .rate-block.bestrate .group{
		top: 1.5em;
	}
	.hotel-details .rate-block .rate {
		display: inline-block;
		margin: 0 1em 1em 0;
	}
	.hotel-details .rate-block button {
		position: relative;
		top: -.5em;
		height: 55px;
	}
		.hotel-details .rate-block button img {
			vertical-align: middle;
			margin-left: .5em;
			max-height: 40px;
		}
		.hotel-details .rate-block .rate-guarantee {
			font-size: .9em;
			position: relative;
			top: -1em;
			cursor: pointer;
			color: #099;
			background: url('//d1zikkhuo9bi6f.cloudfront.net/v32.4.1/roomkey/images/_base/check-small.png') no-repeat;
			padding-left: 18px;
		}
		.hotel-details .rate-block .unavailable {
			display: inline-block;
			padding: 1em 2em;
			position: relative;
			top: -.5em;
		}
	.hotel-details h1 {
		font-size: 1.2em;
		margin: 0 1em .1em 0;
	}
	.hotel-details .address {
		font-size: .9em;
		color: #666;
		margin-bottom: 10px;
	}
	.hotel-details .star-value {
		display: inline-block;
	}
	.hotel-details img[src*="star"] {
		height: 14px;
		width: 14px;
		position: relative;
		top: 2px;
	}
	.hotel-details .stars,
	.hotel-details .rating {
		margin-bottom: .5em;
	}
	.hotel-details .photos a {
		text-decoration: none;
	}
	.hotel-details .photos a img {
		border: none;
	}
	.hotel-details .thumbnail-strip {
		height: 150px;
		position: relative;
		left: -14px;
		width: 120%;
	}
		.hotel-details .thumbnail-strip img {
			height: 150px;
			border-right: 1px solid #aaa;
		}
		.hotel-details .thumbnail-strip .photos { 
			margin: 0; 
			padding: 0; 
			height: 100%; 
			list-style: none;
		}
		.hotel-details .thumbnail-strip .photos li { 
			margin: 0;
			padding: 0;
			float: left;
			height: 100%;
		}
		
#tabs-reviews .frequencies {
	width: 100%;
	max-width: 400px;
	float: left;
	margin-bottom: 1em;
}
#tabs-reviews .frequencies .level {
	width: 100%;
	float: left;
	margin-bottom: .5em;
}
	#tabs-reviews .frequencies label {
		display: block;
		width: 4em;
		float: left;
	}
	#tabs-reviews .frequencies .count {
		width: 2em;
		float: right;
	}
	#tabs-reviews .frequencies .bar {
		background: #eee;
		margin: 0 3em 0 5em;
	}
	#tabs-reviews .frequencies .bar .value {
		background: #099;
	}
	
.hotel-details .reviews,
.hotel-details .reviews ul,
.hotel-details .reviews li.review {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
	.reviews, .hotel-details .reviews li.review {
		margin-bottom: 1em;
	}
	.hotel-details .reviews .score {
		display: inline-block;
		margin-right: 1em;
	}
	.hotel-details .reviews .title {
		font-family: 'Bitter', serif;
		font-weight: bold;
		font-style: italic;
		color: #099;
		margin-bottom: .5em;
		display: inline-block;
	}
	
	
	
/* tablets and larger */
@media (min-width: 800px) {
	
		/* display overview blocks inline */
		#tabs-overview .description,
		#tabs-overview .amenities,
		#tabs-overview .map-wrapper {
			float: left;
		}
		#tabs-overview .description {
			width: 45%;
		}
		#tabs-overview .amenities,
		#tabs-overview .map-wrapper {
			width: 24%;
			margin-left: 3%;
		}
		
}

/* tablets and some phone horizontal views */
@media (min-width: 600px) {
	
	/* display overview amenities and map in 2 columns */
	#tabs-overview .amenities,
	#tabs-overview .map-wrapper {
		float: left;
	}
	#tabs-overview .amenities,
	#tabs-overview .map-wrapper {
		width: 47%;
	}
	#tabs-overview .map-wrapper {
		margin-left: 3%;
	}
	
	.hotel-details h1 {
		font-size: 1.5em;
	}
	.hotel-details .stars,
	.hotel-details .rating {
		display: inline-block;
	}
	.hotel-details .stars {
		margin-right: .75em; 
		border-right: 1px solid #aaa;
		padding-right: 1em;
	}
}

/* tablets and larger */
@media (min-width: 800px) {
	
	/* display overview blocks in 3 columns */
	#tabs-overview .description {
		float: left;
	}
	#tabs-overview .description {
		width: 45%;
	}
	#tabs-overview .amenities,
	#tabs-overview .map-wrapper {
		width: 24%;
		margin-left: 3%;
	}
		
	.hotel-details .overview-block,
	.hotel-details .rate-block {
		display: inline-block;
		width: 49%;
	}
	.hotel-details .rate-block {
		text-align: center;
		position: relative;
		top: -1em;
	}
	.hotel-details .rate-block .qualifier {
		text-align: left;
	}
	
	/* show ratings and reviews in 2 columns */
	#tabs-reviews .frequencies {
		width: 30%;
	}
	#tabs-reviews .frequencies h4 {
		margin-bottom: 1.4em;
	}
	.hotel-details .reviews {
		width: 68%;
		margin-left: 2%;
		
	}
}