@import url(../lib/jquery-ui/jquery-ui.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);

body {
	font-family: 'Roboto', sans-serif;
}

.view {
	border:1px solid red;
}

form.search-box .search-field-wrapper {
	margin-right:100px;
}
form.search-box input.location {
	width:100%;
	font-size:1.5em;
	padding:.2em;
	font-family: serif;
}

input.loading {
	background: url(../images/ajax-loader.gif) right no-repeat;
}