@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);

body {
	background-image: url(../images/bg-tile.jpg);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 1em;
}

.view-header {
	position: relative;
}
	.view-header h1 {
		margin-top: 0;
		margin-bottom: .5em;
	}
	.view-header .view-locale-switcher {
		text-align: right;
	}
	/* move locale switcher to top right if there's room */
	@media (min-width: 450px) {
		.view-header .view-locale-switcher {
			position: absolute;
			top: -5px;
			right: 0;
		}
	}

form.search-box,
.search-filters-wrapper {
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border:1px solid #aaa;
	border-radius: 3px;
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
}
	form.search-box .location {
		margin-bottom: .5em;
	}
		form.search-box .location .search-field-wrapper {
			margin-right: 100px;
		}
		form.search-box .location label {
			font-size: 1.3em;
			font-weight: bold;
			display: block;
			margin-bottom: .5em;
		}
		form.search-box .location input {
			width: 100%;
			font-size: 1em;
			padding: .5em .2em;
			font-family: serif;
		}
			form.search-box .location input.prompt {
				color: #aaa;
				font-style: italic;
			}
	form.search-box .search-field.dist {
		margin-right: 15px;
		margin-bottom: .75em;
	}
		form.search-box .search-field.dist label {
			margin-bottom: .3em;
			display: block;
		}
	form.search-box .search-field.checkin,
	form.search-box .search-field.checkout {
		width: 49%;
		display: inline-block;
	}
		form.search-box .search-field.checkin label,
		form.search-box .search-field.checkout label {
			display: block;
		}
		form.search-box .search-field.checkin input,
		form.search-box .search-field.checkout input {
			width: 80%;
		}
	form.search-box input[type="submit"] {
		position: absolute;
		right: 22px;
		top: 14px;
		height: 34px;
		border-color: #999;
		border-radius: 0 3px 3px 0;
	}

input.loading {
	background: url(../images/ajax-loader.gif) right no-repeat;
}

.search-filters-wrapper {
	
}
	.search-filters-wrapper label.show,
	.search-filters-wrapper.open button.show-filters,
	.search-filters-wrapper.closed .filters {
		display: none;
	}
		.search-filters-wrapper.closed label.show {
			display: block;
		}
	.search-filters-wrapper.closed,
	.search-filters-wrapper.closed * {
		cursor: pointer;
	}
	.search-filters-wrapper .buttons {
		margin-top: 1em;
	}
	
.view-search-results {
	margin-top:1em;
}

.hotel-preview {
	width:200px;
	display: inline-block;
	margin:0 1em 1em 0;
	padding: 1em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border:1px solid #aaa;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	background:#fff;
}
	.hotel-preview:hover {
		margin-top: -1px;
		margin-left: -1px;
		border-color: #888;
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	}
	.hotel-preview .thumbnail {
		border: 1px inset #ccc;
	}
	.hotel-preview .logo {
		float: right;
		margin: .5em 0 0 .5em;
	}
	.hotel-preview .name {
		font-weight: bold;
		margin: .5em 0;
	}
	.hotel-preview .stars {
		position: absolute;
		top: 1.5em;
		right: 1em;
	}
	.hotel-preview .star-value img {
		height: 15px;
		width: 15px;
	}
	/* don't show stars over actual hotel star value */
	.hotel-preview .star-value img[src*="off"] {
		display: none;
	}

/* tablets and some phone horizontal views */
@media (min-width: 600px) {
	/* more horizontal padding */
	body {
		padding: 1em 2em;
	}
	/* larger location search input text */
	form.search-box .location input {
		font-size: 1.5em;
		padding: .2em;
	}
	/* align location search button with larger text */
	form.search-box input[type="submit"] {
		height: 37px;
	}
}