@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);

body {
	background-image: url(../images/bg-tile.jpg);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 1em 0;
}

.ui-container {
	margin: auto;
}

h4 {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 1em;
}

.tooltipster-content {
	font-size: .9em;
}
	.tooltipster-content a {
		color: #099;
		display: block;
		margin-top: 1em;
		text-decoration: none;
		text-align: right;
	}

.view-header {
	position: relative;
}
	.view-header h1 {
		margin-top: 0;
		margin-bottom: .5em;
	}
	.view-header .view-locale-switcher {
		text-align: right;
	}
	/* move locale switcher to top right if there's room */
	@media (min-width: 450px) {
		.view-header .view-locale-switcher {
			position: absolute;
			top: -5px;
			right: 0;
		}
	}

.ui-dialog,
form.search-box,
.search-filters-wrapper,
.view-search-results .loading,
.view-search-results .no-results {
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border:1px solid #aaa;
	border-radius: 3px;
	position: relative;
	margin-bottom: 1em;
	padding: 1em;
}
	form.search-box .invalid-location {
		padding: 1em;
		margin: .5em 0 1em;
		display: none;
	}
	form.search-box .location {
		margin-bottom: 1em;
	}
		form.search-box .location .search-field-wrapper {
			margin-right: 100px;
		}
		form.search-box .location label {
			font-size: 1.3em;
			font-weight: bold;
			display: block;
			margin-bottom: .5em;
		}
		form.search-box .location input {
			width: 100%;
			font-size: 1em;
			padding: .5em .2em;
			font-family: 'Bitter', serif;
		}
			form.search-box .location input.prompt {
				color: #aaa;
				font-style: italic;
			}
	form.search-box .search-field.dist {
		margin-right: 15px;
		margin-bottom: .75em;
	}
		form.search-box .search-field.dist label {
			margin-bottom: .3em;
			display: block;
		}
	form.search-box .search-field.checkin,
	form.search-box .search-field.checkout {
		width: 49%;
		display: inline-block;
		cursor: pointer;
		margin-bottom: 1em;
	}
		form.search-box .search-field.checkin label,
		form.search-box .search-field.checkout label {
			display: block;
		}
		form.search-box .search-field.checkin input,
		form.search-box .search-field.checkout input {
			width: 0;
			border: none;
			padding: 0;
		}
		form.search-box .search-field.checkin .date,
		form.search-box .search-field.checkout .date {
			position: relative;
			left: -.15em;
			font-weight: bold;
			font-family: 'Bitter', serif;
		}
		form.search-box .search-field.checkout .nights {
			display: none;
		}
		form.search-box .search-field.checkin .icon,
		form.search-box .search-field.checkout .icon {
			width: 21px;
			height: 20px;
			display: inline-block;
			background: url(http://d1zikkhuo9bi6f.cloudfront.net/v32.4.1/roomkey/images/roomkey/roomkey_sprite.png) no-repeat right;
			background-position: 0 -190px;
			position: relative;
			top: 3px;
		}
	form.search-box input[type="submit"] {
		position: absolute;
		right: 30px;
		top: 14px;
		height: 37px;
		border-color: #999;
		border-radius: 0 3px 3px 0;
	}

input.loading {
	background: url(../images/ajax-loader.gif) right no-repeat;
}

.search-filters-wrapper {
	
}
	.search-filters-wrapper > *:first-child,
	.search-filters-wrapper > *:first-child + * {
		margin-bottom:1em;
	}
	.search-filters-wrapper .num-results {
		font-weight: bold;
		color: #099;
	}
	.search-filters-wrapper h4 {
		display: inline-block;
		margin-top: 0;
	}
	.search-filters-wrapper .clear-filters {
		display: inline-block;
		margin-left: .3em;
		cursor: pointer;
		border-radius: 30px;
		color: #eee;
		background: #aaa;
		font-size: 15px;
		font-weight: bold;
		line-height: 0px;
		padding: 8px 3px 7px 4px;
		position: relative;
		top: 2px;
	}
	.search-filters-wrapper .clear-filters:before {
		content: "×";
	}
	.search-filters-wrapper .clear-filters:hover {
		color: #fff;
		background: #888;
	}
	.search-filters-wrapper label.show,
	.search-filters-wrapper.open button.show-filters,
	.search-filters-wrapper.closed .filters {
		display: none;
	}
		.search-filters-wrapper.closed label.show {
			display: block;
		}
	.search-filters-wrapper .buttons {
		margin-top: 1em;
	}
	.search-filters-wrapper .sort,
	.search-filters-wrapper .filter {
		margin-bottom: 1em;
	}
	.search-filters-wrapper .sort,
	.search-filters-wrapper .availability {
		display: inline-block;
		margin-right: 1em;
	}
	.search-filters-wrapper .filter label {
		display: block;
		margin-bottom:.5em;
	}
	.search-filters-wrapper .rate .slider {
		margin: 0 .5em;
	}
	.search-filters-wrapper .amenities ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.search-filters-wrapper .amenities ul li {
			margin:0;
			padding: 0;
			font-size: .9em;
			position: relative;
		}
		.search-filters-wrapper .amenities ul li label {
			cursor: pointer;
			padding-right: 1em;
		}
		.search-filters-wrapper .amenities ul li label:hover {
			background: #efefef;
		}
		.search-filters-wrapper .amenities ul li .count {
			position: absolute;
			right: .1em;
			top: .1em;
		}
		.search-filters-wrapper .amenities .toggle {
			display: block;
			margin-top: .5em;
			text-align: right;
			color: #099;
			cursor: pointer;
		}
	
.view-search-results .hotels {
	margin: auto;
	margin-top:1em;
}

.view-search-results .no-results {
	display: none;
	min-height: 115px;
}
	.view-search-results .no-results img {
		float: left;
		margin: 0 2em 1em 0;
		position: relative;
		top: -.5em;
	}

.hotel-preview {
	width:200px;
	display: inline-block;
	margin-bottom: 1em;
	padding: 1em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border:1px solid #aaa;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
	background:#fff;
}
	.hotel-preview:hover {
		margin-top: -1px;
		margin-left: -1px;
		border-color: #888;
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	}
	.hotel-preview .thumbnail {
		border: 1px inset #ccc;
	}
	.hotel-preview .logo {
		float: right;
		margin: .5em 0 0 .5em;
	}
	.hotel-preview .name {
		font-weight: bold;
		margin: .5em 0;
	}
	.hotel-preview .stars {
		position: absolute;
		top: 1.5em;
		right: 1em;
	}
	.hotel-preview .star-value img {
		height: 15px;
		width: 15px;
	}
	/* don't show stars over actual hotel star value */
	.stars .star-value img[src*="off"] {
		display: none;
	}
	.hotel-preview .rating .score img {
		height: 15px;
		width: 15px;
		position: relative;
		top: 2px;
	}
	.hotel-preview .rate {
		margin-top: .5em;
	}
		.rate .price {
			display: inline-block;
			font-size: 2em;
			font-family: 'Bitter', serif;
			color: #3b2525;
		}
		.rate .qualifier {
			display: inline-block;
			margin-left: .5em;
			font-size: .75em;
			font-style: italic;
			color: #666;
		}
	.unavailable {
		margin-top: 1em;
		border: 1px solid #aaa;
		color: #666;
		background: #ccc;
		text-align: center;
		padding: 1em 0;
		border-radius: 3px;
	}

.hotel-details-dialog > .ui-dialog-title {
	display: none;
}
.hotel-details-dialog > .ui-dialog-titlebar .ui-dialog-titlebar-close {
	z-index: 100;
}
.hotel-details-dialog > .ui-widget-header {
	background: none;
	border: none;
}
.hotel-details {
	position: relative;
	top: -30px;
}
	.hotel-details .overview-block,
	.hotel-details .rate-block {
		margin-bottom: 1em;
	}
	.hotel-details .rate-block .group {
		display: inline-block;
		position: relative;
		text-align: left;
		padding: 0 1em 2em 0;
		max-width: 200px;
	}
	.hotel-details .rate-block.bestrate .group{
		top: 1.5em;
	}
	.hotel-details .rate-block .rate {
		display: inline-block;
		margin: 0 1em 1em 0;
	}
	.hotel-details .rate-block button {
		position: relative;
		top: -.5em;
		height: 55px;
	}
		.hotel-details .rate-block button img {
			vertical-align: middle;
			margin-left: .5em;
			max-height: 40px;
		}
		.hotel-details .rate-block .rate-guarantee {
			font-size: .9em;
			position: relative;
			top: -1em;
			cursor: pointer;
			color: #099;
			background: url('//d1zikkhuo9bi6f.cloudfront.net/v32.4.1/roomkey/images/_base/check-small.png') no-repeat;
			padding-left: 18px;
		}
		.hotel-details .rate-block .unavailable {
			display: inline-block;
			padding: 1em 2em;
			position: relative;
			top: -.5em;
		}
	.hotel-details h1 {
		font-size: 1.2em;
		margin: 0 1em .1em 0;
	}
	.hotel-details .address {
		font-size: .9em;
		color: #666;
		margin-bottom: 10px;
	}
	.hotel-details .star-value {
		display: inline-block;
	}
	.hotel-details img[src*="star"] {
		height: 14px;
		width: 14px;
		position: relative;
		top: 2px;
	}
	.hotel-details .stars,
	.hotel-details .rating {
		margin-bottom: .5em;
	}
	.hotel-details .photos a {
		text-decoration: none;
	}
	.hotel-details .photos a img {
		border: none;
	}
	.hotel-details .thumbnail-strip {
		height: 150px;
	}
		.hotel-details .thumbnail-strip img {
			height: 150px;
			border-right: 1px solid #aaa;
		}
		.hotel-details .thumbnail-strip .photos { 
			margin: 0; 
			padding: 0; 
			height: 100%; 
			list-style: none;
		}
		.hotel-details .thumbnail-strip .photos li { 
			margin: 0;
			padding: 0;
			float: left;
			height: 100%;
		}
	
/* tablets and some phone horizontal views */
@media (min-width: 600px) {
	/* larger location search input text */
	form.search-box .location input {
		font-size: 1.5em;
		padding: .2em;
	}
	/* align location search button with larger text */
	form.search-box input[type="submit"] {
		height: 41px;
	}
	form.search-box input[type="submit"] {
		right: 38px;
	}
	
	form.search-box .search-field.checkout .nights {
		display: inline;
	}
	
	.hotel-details h1 {
		font-size: 1.5em;
	}
	.hotel-details .stars,
	.hotel-details .rating {
		display: inline-block;
	}
	.hotel-details .stars {
		margin-right: .75em; 
		border-right: 1px solid #aaa;
		padding-right: 1em;
	}
}

/* tablets and larger */
@media (min-width: 800px) {
	
	/* show distance, checkin, and checkout on one line */
	form.search-box .search-field.checkin,
	form.search-box .search-field.checkout,
	form.search-box .search-field.dist {
		display: inline-block;
		width: 20%;
	}
	form.search-box .search-field.checkin,
	form.search-box .search-field.checkout {
		width: 29%;
		margin-right: 8%; 
		margin-top: .4em;
	}
	form.search-box .search-field.dist {
		position: relative;
		top: -1.3em;
	}
	form.search-box {
		height: 100px;
	}
	form.search-box .location {
		margin-bottom: .5em;
	}
	
	/* show search filters on the right */
	.search-filters-wrapper {
		width: 200px;
		float: left;
	}
		.search-filters-wrapper button.close {
			display:none;
		}
	.view-search-results {
		margin-left: 243px;
	}
	.view-search-results .hotels {
		margin:1em 0 0;
	}
	
	.hotel-details .overview-block,
	.hotel-details .rate-block {
		display: inline-block;
		width: 49%;
	}
	.hotel-details .rate-block {
		text-align: center;
		position: relative;
		top: -1em;
	}
	.hotel-details .rate-block .qualifier {
		text-align: left;
	}
}